@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-text-base:#ffffff;
        --color-text-muted:#BFBDCE;
        --color-text-inverted:#654798;

        --color-fill:#4f367a;

        --color-button-accent:#ffffff;
        --color-button-accent-hover:#BFBDCE;
        --color-button-muted:#78629f;

    }

    .dark{
      --color-text-base:#4f367a;
      --color-text-muted:#BFBDCE;
      --color-text-inverted:#ffffff;

      --color-fill:#ffffff;
      --color-button-accent:#ffffff;
      --color-button-accent-hover:#BFBDCE;
      --color-button-muted:#ffffff;

  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item{
    @apply mx-2 px-4 py-2 text-skin-inverted hover:border-b-2   border-skin-fill
}
.btn-primary{
    @apply px-4 py-2   bg-skin-fill text-skin-base hover:bg-skin-button-muted rounded-lg 
}

.btn-secondary{
  @apply px-4 py-2 bg-skin-button-accent text-skin-inverted border-2 border-skin-fill hover:bg-skin-button-accent-hover rounded-lg
}

.table-td{
  @apply text-sm text-skin-inverted font-light px-6 py-4 whitespace-nowrap
}

.table-th{
  @apply text-sm font-medium text-skin-inverted px-6 py-4 text-left
}
